body{
    background-image: url(PLANK.jpg);
}
P{
    color: aliceblue;
}
#vegan{
    color: aqua;
}
.OK{
    color: burlywood;
}
#BODY{
    text-align: center;
    color: crimson;
    font-weight: bolder;
}
#img{
    padding-left: 43%;
}